{% extends "base.html" %}

{% block content %}
    <h2>Welcome to your Dashboard, {{ current_user.username }}!</h2>

    <a href="{{ url_for('create_beta') }}" role="button" class="contrast">Create a New Beta</a>
    <a href="{{ url_for('edit_profile') }}" role="button" class="secondary">Edit Profile</a>
    <hr>

    <h3>My Betas</h3>
    {% if betas %}
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for beta in betas %}
                <tr>
                    <td><a href="{{ url_for('beta_detail', beta_id=beta.id) }}">{{ beta.name }}</a></td>
                    <td>{{ beta.grade }}</td>
                    <td>{{ beta.location }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven't created any betas yet.</p>
    {% endif %}

{% endblock %}