{% extends "base.html" %}

{% block content %}
    <h1>Login to Your Account</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-field">
            {{ form.email.label }}
            {{ form.email(size=20) }}
        </div>
        <div class="form-field">
            {{ form.password.label }}
            {{ form.password(size=20) }}
        </div>
        <div class="form-field">
            {{ form.remember.label }}
            {{ form.remember() }}
        </div>
        <div class="form-field">
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}